#preCadastroDeDoacao {
    display: flex;
    margin: 0 0;

}

#formulario {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    border: solid;
    border-radius: 10px;
    padding: 10px;

}

.formulario_input {
    display: block;
    margin: .4rem .4rem;
   
}

option {
    margin: .4rem .4rem;
}

label {
    display: flex;
    font-size: 1rem;
    border-top: .4rem;

}

button {
    margin: .4rem;
}