header {
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    background-color: beige;
}

#navbar {
    display: flex;
}

.navbar_li {
    list-style: none;
    padding-left: 1rem;
}

a {
    text-decoration: none;
}